@import '../../variables.scss';

.Input {
    display: flex;
    flex-direction: column;

    input[type=text], input[type=email] {
        border: 1px solid $gray;
        border-radius: 0.4rem;
        outline: none;
        padding: 0.7rem;
        margin-bottom: 2.2rem;
        
        &:focus {
            border-color: $green;
            margin-bottom: 0;
        }

        &.invalid {
            border-color: $red;
            background-color: $light-red;
        }
    }

    .label {
        display: flex;
        justify-content: space-between;

        label {
            font-weight: 400;
            margin-bottom: 0.25rem;
        }

        .optional {
            color: $dark-gray;
        }
    }

    .instruction {
        font-size: 0.9rem;
        color: $dark-gray;
        margin: 0.5rem 0;
    }

    .radioGroup {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
        grid-template-rows: auto;
        grid-row-gap: 0;
    }

    .checkboxGroup {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 0;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 0;

        @media #{$mq-xl} {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-column-gap: 0;
            grid-template-rows: auto auto;
            grid-row-gap: 0;
        }

        @media #{$mq-xxl} {
            display: grid;
            grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
            grid-column-gap: 0;
            grid-template-rows: auto;
            grid-row-gap: 0;
        }
    }
}