@import '../../variables.scss';

.Input {
    display: flex;
    flex-direction: column;

    input {
        border: 1px solid $gray;
        
        &:focus {
            border-color: $green;
        }
    }

    label {
        font-weight: 400;
    }
}