@import '../../variables.scss';

.Separator {
    height: 2px;
    width: 70vw;
    background-color: $dark-gray;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}