@import '../../variables.scss';

.SectionTitle {
    display: flex;
    align-items: center;
    margin-top: 4rem;

    h1 {
        font-weight: 400;
        font-size: 2.5rem;
    }

    hr {
        height: 3px;
        width: 90vw;
        margin-left: 5vw;
        background-color: $gray;
        border: none;
    }
}

.SectionTitle .sideElement {
    margin-left: 5vw;
}