@import '../../variables.scss';

.SectionTitle {
    display: flex;
    align-items: center;

    h1 {
        font-weight: 400;
        font-size: 2.5rem;
    }

    hr {
        color: $gray;
        height: 3px;
        width: 90vw;
        margin: 0 7vw;
    }
}