@import '../../variables.scss';

.Button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
}

.primary {
    color: white;
    background-color: $green;
}

.secondary {
    color: $dark-gray;
    background-color: $light-gray;
}