@import '../../variables.scss';

.BannerCard {
    
    h1 {
        font-weight: 300;
        color: $green;
        font-size: 1.7rem;
    }

    svg {
        color: $green;
        margin-right: 1rem;
    }

    .content {
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }
    }
}