@import '../../variables.scss';

.UsersList {
    margin: 0 $margin-horizontal;
    margin-bottom: 2rem;

    @media #{$mq-lg} {
        margin-left: $margin-horizontal-lg;
        margin-right: $margin-horizontal-lg;
    }
}