@import '../../variables.scss';

.FormFields {
    margin-bottom: 2rem;

    @media #{$mq-md} {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto auto auto; 
        grid-column-gap: 10%;
        grid-row-gap: 0;
    }
}