@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500&display=swap');
@import './variables.scss';

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: $green;
    text-decoration: none;
}