$mq-sm: '(min-width: 576px)';
$mq-md: '(min-width: 768px)';
$mq-lg: '(min-width: 992px)';
$mq-xl: '(min-width: 1200px)';

$margin-horizontal: 1rem;
$margin-horizontal-lg: 5rem;

// Cores
$green: #39c5aa;
$light-green: lighten($green, 50);
$gray: #e3e3e3;
$light-gray: #f8f8f8;
$red: #f52d55;