$mq-sm: '(min-width: 576px)';
$mq-md: '(min-width: 768px)';
$mq-lg: '(min-width: 992px)';
$mq-xl: '(min-width: 1200px)';

$margin-horizontal: 1rem;
$margin-horizontal-lg: 5rem;

// Cores
$green: #39c5aa;
$light-green: lighten($green, 50);
$gray: #e3e3e3;
$light-gray: #f8f8f8;
$dark-gray: #666;
$red: #f52d55;
$light-red: lighten($red, 50);


$md-radio-checked-color: rgb(51, 122, 183);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px; 
$md-radio-ripple-size: 15px;