$mq-sm: '(min-width: 576px)';
$mq-md: '(min-width: 768px)';
$mq-lg: '(min-width: 992px)';
$mq-xl: '(min-width: 1200px)';
$mq-xxl: '(min-width: 1480px)';

$margin-horizontal: 1rem;
$margin-horizontal-lg: 5rem;

// Cores
$green: #39c5aa;
$light-green: lighten($green, 35);
$gray: #e3e3e3;
$light-gray: #f8f8f8;
$dark-gray: #666;
$red: #f52d55;
$light-red: lighten($red, 50);

$check-icon: '\2713';